<launch>
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find mover6_gazebo)/worlds/mover6.world"/>
        <!-- more default parameters can be changed here -->
    </include>

    <!-- Convert an xacro and put on parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro $(find mover6_description)/urdf/CPRMover6.urdf.xacro" />

    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf_a" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -y -0.25 -z 0.04 -urdf -model mover6_a -robot_namespace mover6_a" />

    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf_b" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -y 0.25 -z 0.04 -urdf -model mover6_b -robot_namespace mover6_b"/>

</launch>