<launch>
  <node name="block_pos_talker" pkg="block_controller" type="block_pos_talker.py" output="screen"/>
  <node name="inverse_kinematics_server" pkg="inv_kinematics" type="inv_kin_srv.py" output="screen"/>
  <node name="block_selector" pkg="assignment_selection" type="block_selection.py" output="screen"/>
  <node name="zone_publisher" pkg="zone_controller" type="fixed_zone.py" output="screen"/>
  <node name="path_planner_server" pkg="path_planning" type="path_plan.py" output="screen"/>
  <node name="joint_controller" pkg="joint_controller" type="joint_controller.py" ns="/mover6_a" args="mover6_a" output="screen"/>
  <node name="joint_controller" pkg="joint_controller" type="joint_controller.py" ns="/mover6_b" args="mover6_b" output="screen"/>
  <node name="joint_controller" pkg="joint_controller" type="joint_controller.py" ns="/mover6_c" args="mover6_c" output="screen"/>
</launch>