<launch>
  <node name="block_pos_talker" pkg="block_controller" type="block_pos_talker.py" output="screen"/>
  <node name="inverse_kinematics_server" pkg="inv_kinematics" type="inv_kin_srv.py" output="screen"/>
  <node name="kinematic_movement" pkg="movement_demo" type="basic_kinematic_movement.py" output="screen"/>
  <node name="block_selector" pkg="assignment_selection" type="block_selection.py" output="screen"/>
</launch>