<launch>
  <node name="block_talker" pkg="block_controller" type="block_pos_talker.py" output="screen"/>
  <node name="block_tester" pkg="assignment_selection" type="test_block_reachability.py" output="screen"/>
  <node name="inv_kin" pkg="inv_kinematics" type="inv_kin_srv.py" output="screen"/>
</launch>