<robot name="block">
    <link name="box">
        <inertial>
            <origin xyz="0 0 0" />
            <mass value="0.02" />
            <inertia  ixx="0.01" ixy="0.01"  ixz="0.01"  iyy="0.01"  iyz="0.01"  izz="0.01" />
        </inertial>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
            <box size="0.105 0.035 0.035" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
            <box size="0.105 0.035 0.035" />
            </geometry>
        </collision>
    </link>
    <gazebo reference="box">
        <material>Gazebo/Blue</material>
    </gazebo>
</robot>